body, html {
	width: 100%;
	height: 100%;
	margin: 0;
}

/* Begin constants styling */

@font-face {
    font-family: "ivypresto-display", serif;
	font-weight: 300;
	font-style: normal;
}

.light {
    font-family: "ivypresto-display", serif;
	font-weight: 100;
	font-style: normal;
}

@font-face {
    font-family: "ivypresto-display", serif;
	font-weight: 300;
	font-style: italic;
}

.blush-text {
    color: #fff6fc;
}

.serif {
    font-family: "ivypresto-display";
    letter-spacing: 4px;
}

.hidden {
	display: none;
}

.centered {
	text-align: center;
}

a {
	color: white;
}

/* End constants styling */

/* Begin nav bar styling */

.nav-bar {
	height: 50px;
	display: flex;
	align-items: center;
	margin: 0;
	position: fixed;
	width: 100%;
	background-color: #12273f;
}

.nav-list {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	list-style: none;
	padding-left: 0;
}

.nav-item > a {
	text-decoration: none;
	font-size: 18px;
	font-weight: 200;
	line-height: 1px;
	letter-spacing: 0.05em;
}

/* End nav bar styling */

/*Begin side menu styling*/
.side-menu {
	position: fixed;
	top: 50px;
	bottom: 0;
	right: 0;
	left: 0;
	background: linear-gradient(#1a3024, #000);
	z-index: 5;
}

.side-list {
	padding-left: 0;
	padding-right: 15px;
	list-style: none;
	text-align: right;
	font-size: 32px;
}

.side-item {
	padding-bottom: 20px;
}

.side-item > a {
	text-decoration: none;
	color: #f8e6de;
}
/*End side menu styling*/

a:hover {
	text-decoration: underline;
	text-decoration-thickness: 1px;
}

/*Begin hamburger menu styling*/
.hamburger {
	cursor: pointer;
	padding-right: 20px;
}

.bar1, .bar2, .bar3 {
	width: 25px;
	height: 4px;
	background-color: #f7f3ef;
	margin: 4px 0;
	transition: 0.4s;
}

.change .bar1 {
	-webkit-transform: rotate(-45deg) translate(-6px, 5px);
	transform: rotate(-45deg) translate(-6px, 5px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
	-webkit-transform: rotate(45deg) translate(-6px, -6px);
	transform: rotate(45deg) translate(-6px, -6px);
}
/*End hamburger menu styling*/


/* Begin cover page styling */

.photo-background {
	position: absolute;
	top: 50px;
	bottom: 0;
	right: 0;
	left: 0;
	background-color: #13273f;
	background-image: url("https://bawedding.s3.us-west-2.amazonaws.com/Brooke_Andrew_Cover.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center bottom 0;
}

.photo-overlay {
	position: absolute;
	top: 50px; 
	bottom: 0;
	right: 0;
	left: 0;
	background-color: black;
	opacity:  0.3;
	transition:  0.5s ease-in;
}

.cover-details-container {
    width: 80%;
	position: absolute;
	bottom: 75px;
	left: 75px;
    display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: flex-start;
}

.cover-title {
    font-size: 100px;
}

.cover-details {
	font-size: 20px;
	letter-spacing: 0.1em;
}

.rsvp-button {
	text-decoration: none;
	border:  1px solid #f7f3ef;
	border-radius: 5px;
	padding: 10px 40px;
	margin-top: 30px;
	transition: ease-in 0.3s;
  	cursor: pointer;
 	background: rgba(255, 255, 255, 0.15);
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	border: 1px solid rgba(255, 255, 255, 0.3);
	font-size: 24px;
	letter-spacing: 0.2em;
}

.rsvp-button:hover {
	text-decoration: none;
	cursor: pointer;
	background-color: rgba(19, 39, 63, 0.85);
	border: 1px solid rgba(19, 39, 63, 0.1);
}

@media screen and (max-device-width: 850px), (max-width: 850px) {
	.cover-details-container {
		position: absolute;
		width: 100%;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		justify-content: center;
		align-items: center;
	}

	.cover-title {
		font-size: calc(5vw + 5vh);
		text-align: center;
	}

	.cover-details {
		font-size: 14px;
	}
}

/* End cover page styling */


@media screen and (max-device-width: 850px), (max-width: 850px) {
	
	.details-container {
		width: 100%;
	}

	.nav-list {
		display: none;
	}

	.nav-bar {
		align-items: center;
		justify-content: flex-end;
		padding-right: 15px;
	}

	.hamburger {
		display: inline-block;
	}

	.photo-overlay {
		opacity: 0.5;
		position: absolute;
		top: 50px;
		bottom: 0;
		right: 0;
		left: 0;
		background-color: black;
		transition:  0.5s ease-in;
	}

	.centered-container {
		width: 100%;
	}

	.travel-container {
		grid-template-columns: 1fr;
		width: 100%;
		overflow-x: hidden;
		justify-content: center;
	}

	.travel-content {
		width: 80%;
	}

	ul.centered-list {
		width: 100%;
	}


	.faq-text {
		width: 85%;
	}

	.gallery-image {
		max-width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}

}
